body {
  .ant-notification-notice {
    color: white;
    background-color: $colors_bg;

    .ant-notification-notice-message {
      color: white;
    }

    .ant-notification-notice-description {
      color: white;
    }
  }
}
