// -----------------------------------------------------------------
//                         C o l o r s
// -----------------------------------------------------------------
:root {
  // Default primary color, eventually overwritten vy the JS
  --primary-color: #fbc88c;
}

$colors_primary: var(--primary-color);

$colors_bg: #050507;
$colors_card_bg: #1e1e27;
$colors_light_bg: #1c1c24;
$colors_text: #fff;

// -----------------------------------------------------------------
//                          S i z e s
// -----------------------------------------------------------------
$size_base_multiplier: 8px;

// -----------------------------------------------------------------
//                        S h a d o w s
// -----------------------------------------------------------------
$box_shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);

// -----------------------------------------------------------------
//                     F o n t  f a m i l y
// -----------------------------------------------------------------

$font_poppins: 'Poppins', sans-serif;

// -----------------------------------------------------------------
//                     F o n t  s i z e s
// -----------------------------------------------------------------
$font_size_h1: 26px;
$font_size_h2: 24px;
$font_size_h3: 22px;
$font_size_h4: 20px;
$font_size_h5: 18px;
$font_size_h6: 16px;
$font_size_text: 16px;
$font_size: 14px;

$font_size_main_title: $size_base_multiplier * 7;
$font_size_secondary_title: $size_base_multiplier * 4;
$font_size_text: $size_base_multiplier * 2;

// -----------------------------------------------------------------
//                     F o n t  w e i g h t s
// -----------------------------------------------------------------
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semi_bold: 600;
$font_bold: 700;

// -----------------------------------------------------------------
//                    L i n e   H e i g h t s
// -----------------------------------------------------------------
$line_height: 20px;
$line_height_h5: $font_size_h5 + 6;
$line_height_h6: $font_size_text + 6;

// -----------------------------------------------------------------
//                     B o x   S h a d o w s
// -----------------------------------------------------------------

// -----------------------------------------------------------------
//                         B o r d e r s
// -----------------------------------------------------------------
$border_radius: 10px;
$border_radius_card: $size_base_multiplier * 3;
$border_radius_main_btn: 2px;
$border_radius_secondary_btn: 20px;
